<% title "DevFest 2011" %>

<figure id="devfest">
  <%= image_tag("devfest-logo/devfest-logo-lightbg-flat-300.png") %>
</figure>

<aside id="featured" class="body">
	<h2><strong>DevFest 2011</strong> is a week-long application development experience filled with events and resources to help student teams build a web-based product with monetary and/or adoption potential.</h2>
</aside>

<ul class="no_style">
	<li><a href="#more_info">Tell me more</a></li>
	<li><a href="#participate">Who can participate?</a></li>
	<li><a href="#register">Where do I sign up?</a></ li>
	<li><a href="#schedule">Show me the schedule</a></li>
</ul>

<h2>Sponsors</h2>
<div class="logos">
<p>
<a href="http://www.firstround.com/"><img alt="Frc" src="/images/sponsors/frc.jpeg?1295855407" /></a>
<a href="http://a16z.com/"><img alt="Ah" src="/images/sponsors/ah.jpeg?1295855413" /></a>
<a href="http://corp.aol.com/products-services/aol-ventures"><img alt="Av" src="/images/sponsors/av.jpeg?1295855414" /></a>
<a href="http://www.engineering.columbia.edu/"><img alt="Seas" src="/images/sponsors/seas.jpeg?1295906912" /></a>
<a href="http://www.appnexus.com"><img alt="Appnexus" src="/images/sponsors/appnexus.jpeg?1295906904" /></a>
<a href="http://www.iaventures.com/"><img alt="Iav" src="/images/sponsors/iav.jpeg?1295906905" /></a>
<a href="http://www.dfj.com/"><img alt="Dfj" src="/images/sponsors/dfj.jpeg?1296662046" /></a>
<a href="http://www.meetup.com/"><img alt="Meetup" src="/images/sponsors/meetup.jpeg?1296153874" /></a>
<a href="http://www.cs.columbia.edu/"><img alt="Cscu" src="/images/sponsors/cscu.jpeg?1295855217" /></a>
</p>
</div>

<h2 id="more_info">A New Type of Tech Event</h2>
<p>DevFest is a collaboration between student groups, VC firms, startups, and Columbia departments to provide aspiring student developers with the necessary support framework to build a complete application over the span of one week as they iterate upon their ideas, experiment with new technologies and concepts, and add value in non-technical ways.</p>

<h3>A Hackathon</h3>
<p>DevFest will kick off <strong>Saturday, Jan. 29 at 1pm in the Davis Auditorium at Columbia</strong> with a catered social event for all participants and a 24-hour hackathon.</p>
<p>In addition to numerous experienced student and alumni developers, the following companies will be on hand to answer questions, help with development, and host workshops on application development technologies and methodologies:</p>
<table class="logos">
  <tr>
    <td><%= link_to( image_tag( "logos/lsm.jpeg" ), "http://nyc.theleanstartupmachine.com/recap/july/") %></td>
    <td><%= link_to( image_tag( "logos/foursquare.jpeg" ), "http://foursquare.com" ) %></td>
    <td><%= link_to( image_tag( "logos/peepcode.jpeg" ), "http://peepcode.com" ) %></td>
  </tr>
</table>

<h3>Workshops</h3>
<p><strong>Monday</strong> through <strong>Friday</strong> will be filled with workshops and lectures covering topics in technology, entrepreneurship, business, and networking to help teams with their development efforts.</p>
<p>Workshop and event organizers include:</p>
<table class="logos">
  <tr>
    <td><%= link_to( image_tag( "logos/blip.jpeg" ), "http://www.brooklaw.edu/academics/clinicalprogram/theblipclinic.aspx" ) %></td>
    <td><%= link_to( image_tag( "logos/twilio.jpeg" ), "http://twilio.com" ) %></td>
    <td><%= link_to( image_tag( "logos/bitly.jpeg" ), "http://bit.ly" ) %></td>
  </tr>
  <tr>
    <td><%= link_to( image_tag( "logos/acm.jpeg" ), "http://cuacm.com" ) %></td>
    <td><%= link_to( image_tag( "logos/ewb.jpeg" ), "http://www.cuewb.org/" ) %></td>
    <td><%= link_to( image_tag( "logos/aviary.jpeg" ), "http://www.aviary.com/" ) %></td>
  </tr>
  <tr>
    <td><%= link_to( image_tag( "logos/cothinkit.jpeg" ), "http://www.cothinkit.com/" ) %></td>
    <td><%= link_to( image_tag( "logos/nodejitsu.jpeg" ), "http://www.nodejitsu.com/" ) %></td>
    <td><%= link_to( image_tag( "logos/talkabouthealth.jpeg" ), "http://www.talkabouthealth.com/" ) %></td>
  </tr>
</table>


<h3 id="demofest">A Demofest</h3>
<p>On <strong>Sunday, Feb. 6 at 1pm in the Davis Auditorium</strong>, teams will reconvene to demo their project for a general audience, including representatives of startups and VCs from NYC and the Bay Area.</p>
<p>The following panel of industry experts is committed to sharing their collective insight and experience with each team:</p>
<ul>
  <li><%= link_to "Fred Wilson", "http://avc.com"%>, VC and principal of Union Square Ventures</li>
  <li><%= link_to "Chris Wiggins", "http://www.columbia.edu/~chw2/"%>, Associate Professor of Applied Mathematics at Columbia University </li>
  <li><%= link_to "Dave Jagoda", "http://a16z.com"%>, Andreessen Horowitz</li>
  <li><%= link_to "Steve Jacobs", "http://www.gilt.com/company/team" %>, Chief Information Officer (CIO) of Gilt Groupe</li>

  <li><%= link_to "Justin Singer", "http://www.iaventures.com/team/justin" %>, IA Ventures investment team member</li>
  <li><%= link_to "Thatcher Bell", "http://www.dfjgotham.com/bio_thatcher.html" %>, Principal at DFJ Gotham Ventures</li>

</ul>

<h2 id="participate">Eligibility</h2>
<p>Participating team members must be full-time students enrolled in a high school, undergraduate, or graduate program. Each team may present one entry during the concluding demo fest at Columbia University at <strong>1pm on Sunday, Feb. 6</strong>. All events are open to the general public, unless specified otherwise by the hosting party.</p>

<h2 id="register">Registration</h2>
<p>All event participants <a href="http://bit.ly/devfest2011_registration">must register</a>. Interested individuals may organize as a team before or during DevFest, or submit an individual project.</p>
<p>Other DevFest-releated forms:</p>
<ul>
	<li><%= link_to "Mentor registration", "http://bit.ly/eLU4un" %></li>
	<li><%= link_to "Workshop registration", "http://bit.ly/devfest-workshop-signup" %></li>
</ul>

<!--
<h2 id="companies">Opportunities for Corporate Involvement</h2>
<p>Here are just a few of the many ways your large company / startup / venture capital firm can help make DevFest a tremendous success:</p>
<ul>
	<li>Send a representative to the demo fest on <strong>Sunday, Feb. 6</strong> to judge application entries</li>
	<li>Mentor a student team during the competition as they work to build a viable web-based product</li>
	<li>Donate a prize for best use of your company's API or technology</li>
	<li>Host an event, such as a workshop on your API or a lecture on a particularly interesting technology you employ</a>
	<li>Contribute in your own, unique way</li>
</ul>
<p>All interested parties should <a href="mailto:networking@adicu.com">email us at networking@adicu.com</a>.</ p>
-->

<h2 id="schedule">Schedule</h2>
<p>We'll be adding events up until the day of, so check the schedule often (<%= link_to "full view", "http://www.google.com/calendar/embed?src=adicu.com_tud5etmmo5mfmuvdfb54u733i4%40group.calendar.google.com&ctz=America/New_York" %>).</p>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=800&amp;wkst=7&amp;bgcolor=%23ffffff&amp;src=adicu.com_tud5etmmo5mfmuvdfb54u733i4%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FNew_York&amp;dates=20110129%2F20110207" style=" border-width:0 " width="600" height="800" frameborder="0" scrolling="no"></iframe>
