<% title "DevFest 2013" %>

<figure id="devfest">
  <%= image_tag("devfest-logo/devfest-new-logo-medium.png") %>
</figure>

<aside id="featured" class="body">
  <h2>
    <strong>DevFest 2013</strong>, February 2nd - 9th, is a week-long application development experience filled with events and resources to help student teams build a web-based product with monetary and/or adoption potential. See the full schedule <a href="#schedule">here</a>.
  </h2>
</aside>

<h2 id="register">Registration</h2>
<p>All event participants must register. Interested individuals may organize as a team before or during DevFest, or submit an individual project. 
<b><%= link_to 'REGISTER! REGISTER! REGISTER!', register_path %></b>
</p>

<h2 id="more_info">A New Type of Tech Event</h2>
<p>DevFest is a collaboration between student groups, VC firms, startups, and Columbia departments to provide aspiring student developers with the necessary support framework to build a complete application over the span of one week as they iterate upon their ideas, experiment with new technologies and concepts, and add value in non-technical ways.</p>

<h2 id="panelists">Panelists</h2>
The following panel of industry experts will share their collective insight and experience with presenting teams:
<p>
<div class="panelists varied">
  <p>
  <span class="panelist-wrapper">
    <img alt="Fred Wilson" src="images/panelists_2013/fred.png">
  </span>
  <span class="panelist-wrapper">
    <img alt="Chris Wiggins" src="images/panelists_2013/chris.png">
  </span>
  <span class="panelist-wrapper">
    <img alt="Joshua Topolsky" src="images/panelists_2013/josh.png">
  </span>
  <span class="panelist-wrapper">
    <img alt="Elena Silenok" src="images/panelists_2013/elena.png">
  </span>
  <span class="panelist-wrapper">
    <img alt="Akshay Patil" src="images/panelists_2013/akshay.png">
  </span>
  <p>
  <span class="panelist-wrapper">
    <a href="http://avc.com">Fred Wilson</a>, VC and principal of <a href="http://www.usv.com/">Union Square Ventures</a>
  </span>
  <span class="panelist-wrapper">
    <a href="http://www.columbia.edu/~chw2/">Chris Wiggins</a>, Associate Professor of Applied Mathematics at Columbia University, <br>co-founder of <a href="http://hackny.org/a/">hackNY</a>
  </span>
  <span class="panelist-wrapper">
    <a href="https://twitter.com/joshuatopolsky">Joshua Topolsky</a>, <br>Editor-in-Chief <br>of <a href="http://theverge.com">the Verge</a>
  </span>
  <span class="panelist-wrapper">
    <a href="http://silenok.com/">Elena Silenok</a>, Founder of <a href="http://www.clothia.com/">Clothia</a>
  </span>
  <span class="panelist-wrapper">
    <a href="https://twitter.com/ak">Akshay Patil</a>, Platform guy for <a href="https://foursquare.com/">Foursquare</a>
  </span>
  </p>
</div>

<h3 id="kickoff">Kick-Off</h3>
<p>DevFest will kick off <strong>Saturday, February 2nd at 12:00 PM at Columbia's Davis Auditorium</strong> with lunch, workshops, environment setup, a crash course on web programming, and API demos.</p>

<h3 id="directions">Directions</h3>
<p>The hackathon and workshops will occur in the CS Lounge located within the CS Building. Make your way to Mudd, then go through the metal double doors. The lounge is located next to the courtyard. If you are unable to access the CS lounge, there will be a number that you can call to be let in.</p>

<h3 id="workshops">Workshops</h3>
<p>Monday through Thursday will be filled with workshops and lectures covering topics in technology, entrepreneurship, business, and networking to help teams with their development efforts. We'll announce details soon.</p>

<h3 id="hackathon">Hackathon</h3>
<p>Finish (or start) DevFest strong with a hackathon <b>from 6 PM on Friday, February 8th to 12 PM February 9th</b>. Come to code, eat, get some help from seasoned hackers and snag some final swag before Demofest. Experienced students, alumni developers, and engineers from sponsoring companies will be present throughout the night to help out with your projects.</p>

<h3 id="demofest">Demofest</h3>
<p>DevFest will conclude with a demofest on <strong>Saturday, Feb. 9th at 12 PM at Columbia's Davis Auditorium</strong>. We will serve lunch and then teams will reconvene to demo their project for a general audience, including representatives of startups and VCs from NYC.</p>

<h2 id="participate">Eligibility</h2>
<p>Participating team members must be full-time students enrolled in a high school, undergraduate, or graduate program. Each team may present one entry during the concluding demo fest at Columbia University at <strong>on Saturday, Feb. 9th</strong>. All events are open to the general public, unless specified otherwise by the hosting party.</p>

<!--
  <ul class="no_style">
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#panelists">Panelists</a></li>
    <li><a href="#more_info">Learn more</a></li>
    <li><a href="#participate">Eligibility</a></li>
    <li><a href="#register">Registration</a></ li>
    <li><a href="#schedule">Schedule</a></ li>
  </ul>
-->

<h2 id="prizes">Prizes</h2>
<p><b>First Overall</b>: $1024 Cash
<p><b>Second Overall</b>: $512 Cash 
<p><b>Third Overall</b>: $256 Cash
<p><b>Most Technically Difficult</b>: Nexus 7
<p><b>Best First Hack</b>: Nexus 7
<p><b>Best Use of the Twilio API</b>: Arduino Inventor's Kit from SparkFun
<p>All prize winners will be treated to an exclusive dinner with representatives from our lead sponsors <b>Google</b>, <b>Bloomberg</b>, <b>Andreessen Horowitz</b>, and <b>Quotidian Ventures</b>. The dinner will be held the night of February 9th.
</p>

<h2 id="sponsors">Sponsors</h2>
<div class="logos varied large">
  <p>
  <span class="logo-wrapper">
    <a href="http://google.com"><img alt="Google" src="/images/devfest2013/google.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://quotidianventures.com/"><img alt="Quotidian Ventures" src="/images/devfest2013/quotidian.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://a16z.com/"><img alt="Andreessen Horowitz" src="/images/devfest2013/a16z.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://www.bloomberg.com/"><img alt="Bloomberg" src="/images/devfest2013/bloom.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://www.renttherunway.com/"><img alt="Rent the Runway" src="/images/devfest2013/rent.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://www.microsoft.com/"><img alt="Microsoft" src="/images/devfest2013/microsoft.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="https://twitter.com/"><img alt="Twitter" src="/images/devfest2013/twitter.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://www.gilt.com/"><img alt="Gilt Groupe" src="/images/devfest2013/gilt.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://www.tumblr.com/"><img alt="Tumblr" src="/images/devfest2013/tumblr.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://www.meetup.com/"><img alt="Meetup" src="/images/devfest2013/meetup.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="https://www.facebook.com/"><img alt="Facebook" src="/images/devfest2013/facebook.png"/></a>
  </span>
  <span class="logo-wrapper">
    <a href="http://www.greylock.com/"><img alt="Greylock Partners" src="/images/devfest2013/greylock.png"/></a>
  </span>
  </p>
</div>

<h2 id="prize-sponsors">Prize Sponsors</h2>
<div class="logos varied twilio">
  <p>
  <span class="logo-wrapper">
    <a href="http://www.twilio.com/"><img alt="Twilio" src="/images/devfest2013/twilio.png" /></a>
  </span>
  </p>
</div>

<div>
  If you're interested in sponsoring DevFest, please contact
  <a href="mailto:networking@adicu.com">networking@adicu.com</a>
</div>
<!--
<div>
  The following panel of industry experts will share their collective insight and experience with presenting teams:
  <ul>

    <p><figure id="headshot">
      <%= image_tag("panelists_2013/fred.png") %>
    </figure>
    <a href="http://avc.com">Fred Wilson</a>, VC and principal of <a href="http://www.usv.com/">Union Square Ventures</a></p>
    </p>
    <p><figure id="headshot">
      <%= image_tag("panelists_2013/chris.png")%>
    </figure>
    <a href="http://www.columbia.edu/~chw2/">Chris Wiggins</a>, Associate Professor of Applied Mathematics at Columbia University, co-founder of <a href="http://hackny.org/a/">hackNY</a>
    </p>
  </span>
    <p><figure id="headshot">
      <%= image_tag("panelists_2013/josh.png")%>
    </figure>
    <a href="https://twitter.com/joshuatopolsky">Joshua Topolsky</a>, Editor-in-Chief of <a href="http://theverge.com">the Verge</a>
    </p>
    <p><figure id="headshot">
      <%= image_tag("panelists_2013/elena.png")%>
    </figure>
    <a href="http://silenok.com/">Elena Silenok</a>, Founder of <a href="http://www.clothia.com/">Clothia</a>
    </p>
    <p><figure id="headshot">
      <%=image_tag("panelists_2013/akshay.png")%>
    </figure>
    <a href="https://twitter.com/ak">Akshay Patil</a>, Platform guy for <a href="https://foursquare.com/">Foursquare</a>
    </p>
  </ul>
</div>
-->

<h2 name="schedule" id="schedule">Schedule</h2>
<%= render "home/devfest_2013_schedule" %>
<!--
<p>You can take a look at the full-view <%= link_to "here", "http://www.google.com/calendar/embed?src=adicu.com_tud5etmmo5mfmuvdfb54u733i4%40group.calendar.google.com&ctz=America/New_York" %>.</p>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=800&amp;wkst=7&amp;bgcolor=%23ffffff&amp;src=adicu.com_tud5etmmo5mfmuvdfb54u733i4%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FNew_York&amp;dates=20120128%2F20120204" style=" border-width:0 " width="600" height="800" frameborder="0" scrolling="no"></iframe>i-->
